@font-face {
  font-family: 'PP Mori';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pp-mori/PPMori-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PP Mori';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/pp-mori/PPMori-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'PP Mori';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pp-mori/PPMori-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'PP Editorial New';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/pp-editorial-new/PPEditorialNew-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PP Editorial New';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/pp-editorial-new/PPEditorialNew-Italic.otf') format('opentype');
}
